[[language]]
name = "python"
auto-format = true
language-servers = [
    {name = "pyright"},
    {name = "ruff"},
    {name = "mypy"}
]

[language-server.pyright]
command = "pyright-langserver"
args = ["--stdio"]

[language-server.pyright.config.python.analysis]
typeCheckingMode = "off"

[language-server.ruff]
command = "ruff"
args = ["server"]

[language.formatter]
command = "black"
args = ["--line-length", "88", "--quiet", "-"]

[[language]]
name = "go"
auto-format = true
formatter = {command = "gofumpt"}
language-servers = ["gopls"]

[language-server.gopls.config]
"formatting.gofumpt" = true
"formatting.local" = "github.com/urbn/"

[[language]]
name = "html"
language-servers= [ "vscode-html-language-server", "tailwindcss-ls" ]

[[language]]
name = "css"
language-servers= [ "vscode-css-language-server", "tailwindcss-ls" ]

[[language]]
name = "jsx"
language-servers= [ "typescript-language-server", "tailwindcss-ls" ]

[[language]]
name = "tsx"
language-servers= [ "typescript-language-server", "tailwindcss-ls" ]

[[language]]
name = "svelte"
language-servers= [ "svelteserver", "tailwindcss-ls" ]

[language-server.solargraph]
command="solargraph"
config.diagnostics=true
config.formatting=false

[[language]]
name = "ruby"
auto-pairs = { "(" = ")", "[" = "]", "{" = "}", "|" = "|", "'" = "'", '"' = '"' }
formatter = { command = "rubocop", args = ["--stdin", "foo.rb", "-a", "--stderr", "--fail-level", "fatal", "--server"] }
auto-format = true
language-servers=[{name="solargraph"}]
